body {
  font-family: "Courier New", Courier, monospace;
  background-color: #364f6b;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

div.App {
  /*background-image: url("pink.jpg");*/
  background-color: #3fc1c9;
  background-repeat: no-repeat;
  border-radius: 25px;
  margin: 40px auto;
  max-width: 630px;
  /* height: 450px; */
  color: #ffff;
}
