body {
  font-family: "Courier New", Courier, monospace;
  background-color: #ed9ab4;
  background-size: cover;
}

div.App {
  background-color: #edf0f8;
  border-radius: 25px;
  margin: 40px auto;
  max-width: 630px;
  color: #5f6268;
}
