body {
  font-family: "Courier New", Courier, monospace;
  background-color: #e3f4ef;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

div.App {
  background-image: url ("./public/pink.jpg");
  background-repeat: no-repeat;
  border: 3px solid #e8e3f2;
  border-radius: 25px;
  margin: 40px auto;
  max-width: 630px;
  /* height: 450px; */
  color: #ffff;
}
