h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
  color: #dd376c;
}

h2 {
  font-size: 27px;
  position: relative;
  left: 155px;
}

strong {
  font-size: 20px;
  position: relative;
  left: 155px;
  color: #dd376c;
}

li {
  font-size: 17px;
  list-style: none;
  position: relative;
  top: 35px;
  right: -280px;
  text-align: right;
  color: #dd376c;
  font-weight: 550;
}

.icon {
  position: relative;
  right: 340px;
  top: 30px;
}
