button {
  margin: 0 5px;
}

form.searchCity {
  margin: 20px 0px 0px 5px;
}

.units {
  font-size: 15px;
  position: relative;
  bottom: 30px;
  left: -135px;
}

.temperature {
  font-size: 65px;
  position: relative;
  bottom: 0px;
  left: -135px;
  color: #dd376c;
}
